{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,

    "no-mixed-operators": 0,
    "comma-dangle": 0
  }
}
